#viewDiv {
    padding: 40px;
    margin: auto;
    height: 80%;
    width: 70%;
}

#basemapStyles{
    width: 250px;
    padding: 10px;
}


body{
    display: auto;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin:0
}